@model IEnumerable<bsuc.common.Model.Bsuc_Protal_Post>
@{
    bsuc.common.Model.BsucConnectext db=new bsuc.common.Model.BsucConnectext();
}
<div class="layui-form">
    <table class="layui-table mt10" lay-even="" lay-skin="row">
        <colgroup>
            <col width="50">
            <col>
            <col>
            <col>
            <col>
            <col width="90">
            <col width="200">
        </colgroup>
        <thead>
            <tr>
                <th>
                    <input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
                <th>文章标题</th>
                <th>关键字</th>
                <th>查看数</th>
                <th>发布者</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var usr=db.buser.First(u=>u.id==item.user_id).username;
                var t=bsuc.common.Common.IntToDateTime(item.published_time);
                <tr>
                    <td>
                        <input type="checkbox" class="layui-checkbox checkbox-ids" name="ids[]" lay-skin="primary"></td>
                    <td>@Html.DisplayFor(menu => item.post_title)</td>
                    <td>@Html.DisplayFor(menu => item.post_ketwords)</td>
                    <td>@Html.DisplayFor(menu => item.post_hits)</td>
                    <td>@usr</td>
                    <td>@t</td>
                    <td>
                        <div class="layui-btn-group">
                            <div class="layui-btn-group">
                                <a href="/admin/article/details?id=@Html.DisplayFor(itemmodel=>item.id)" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon">详情</i></a>
                                <a href="/admin/article/edit?id=@Html.DisplayFor(itemmodel=>item.id)" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon">编辑</i></a>
                                <a data-href="Delete?id=@Html.DisplayFor(itemmodel=>item.id)" class="layui-btn layui-btn-primary layui-btn-sm j-tr-del"><i class="layui-icon">删除</i></a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
