
@model bsuc.common.Model.Bsuc_Protal_Post
@{
    var natnameB = ViewBag.catnameB as IEnumerable<bsuc.common.Model.Bsuc_Protal_Category>;//科学研究
    ViewBag.Title = "文章内容";
}
@Scripts.Render("~/static/index/js/dynclicks.js")
<div class="bannerT">
    <div class="bannerT">
        <img class="imgfull" src="~/static/index/images/bannerT.jpg" alt="">
    </div>
</div>
<div class="box-main container mlra">
    <div class="page-centent text-left">
        <div class="menu-name pr">
            <div class="this-place txtleft">
                <p>当前位置: <a href="~/home/index">首页</a>>>正文</p>
            </div>
        </div>
    </div>
    <div class="left_nav">
        <div class="column_name">
            <h4>新闻中心<span class="songti pl10"></span></h4>
        </div>
        @foreach (var item in natnameB)
        {
            <ul>
                <li><a href="/home/wznr?id=@Html.DisplayFor(n => item.id)&title=@Html.DisplayFor(n => item.catname)" title="@Html.DisplayFor(n => item.catname)">@Html.DisplayFor(n => item.catname)</a></li>
            </ul>
        }
    </div>
    <div class="right_main">
        <form name="_newscontent_fromname">
            <div class="box-centent">
                <div class="title">
                    <h3>@Html.DisplayFor(model => model.post_title)</h3>
                    <div class="news-msg text-center" style="text-align: center;">
                        <span>来源：百色学院</span>
                        <span>编辑：邓民胜</span>
                        <span>作者：@ViewBag.author</span>
                        <span>发布时间：@ViewBag.PushTime</span>
                        <span>浏览量：@Html.DisplayFor(model => model.post_hits)</span>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e8e8e8; margin-top: 10px;"></div>
                <div class="con-txt" id="vsb_content">
                    <p class="indent2"></p>
                    @Html.DisplayTextFor(model => model.post_content)
                    <p></p>
                </div>
                <br />
                <br />
                <br />
            <div class="fn oh">
              <div class="fl colse"> <span>
                <svg class="icon" >
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-guanbi3"></use>
                </svg>
              </span> <a href="javascript:window.close();">关闭</a> </div>
              <div id="top0" class="fl">
                <div class="top0 fr"> <span>
                  <svg class="icon" >
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fanhuidingbu2"></use>
                  </svg>
                </span> <a href="javascript:;">返回顶部</a> </div>
                <div class="Print fr pr24" id="Print"> <span>
                  <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-print"></use>
                  </svg>
                </span> <a href="javascript:window.print();">打印</a> </div>
              </div>
            </div>
                
	<br /><br />
            </div>
        </form>
    </div>
</div>
