@{
    var postList = ViewBag.postList as IEnumerable<bsuc.common.Model.Bsuc_Protal_Post>;
    var catnameA = ViewBag.catnameA as IEnumerable<bsuc.common.Model.Bsuc_Protal_Category>;
}
@Scripts.Render("~/static/index/js/dynclicks.js")
<div class="bannerT">
    <div class="bannerT">
        <img class="imgfull" src="~/static/index/images/bannerT.jpg" alt="">
    </div>
</div>
<div class="box-main container mlra">

    <div class="left_nav">
        <div class="column_name">
            <h4>新闻中心<span class="songti pl10"></span></h4>
        </div>
        @foreach (var item in catnameA)
        {
            <ul>
                <li style="border-bottom: 1px solid #ccc;"><a href="~/home/wznr?id=@Html.DisplayFor(n => item.id)&title=@Html.DisplayFor(n => item.catname)"  title="@Html.DisplayFor(n => item.catname)">@Html.DisplayFor(n => item.catname)</a></li>
            </ul>
        }
    </div>

    <div class="right_main">
        <div class="menu-name pr">
            <h3>@ViewBag.Title</h3>
            <div class="position">
                当前位置:<a href="~/home/index">首页</a>>><a>@ViewBag.Title</a>
            </div>
        </div>
        <div class="box-list">
            <script language="javascript" src="~/static/index/js/statpagedown.js"></script>
            <ol class="pt20" id="news-title-img-icon">
                @foreach (var item in postList)
                {
                    <li id="line_u10_0" class="oh txtleft">
                    <a class="fl fs14 c333" href="/home/Details?id=@Html.DisplayFor( p => item.id)" target="_blank">@Html.DisplayFor(p=>item.post_title)</a>
                    <a class="fr fs14 c333" href="#" target="_blank">2018年11月09日</a>
                </li>
                }
            </ol>
            <div class="pageId text-center" align="center">
                <p>
                    <link rel="stylesheet" content-type="text/css" href="sys.css">
                    <div class="pb_sys_common pb_sys_normal pb_sys_style1" style="margin-top: 10px; text-align: center;"><span class="p_pages"><span class="p_first_d p_fun_d">首页</span><span class="p_prev_d p_fun_d">上页</span><span class="p_no_d">1</span><span class="p_no"><a href="#">2</a></span><span class="p_no"><a href="#">3</a></span><span class="p_no"><a href="#">4</a></span><span class="p_no"><a href="#">5</a></span><span class="p_dot">...</span><span class="p_no"><a href="#">476</a></span><span class="p_next p_fun"><a href="#">下页</a></span><span class="p_last p_fun"><a href="#">尾页</a></span></span></div>
                </p>
            </div>
            <br>
            <br>
            <script>_showDynClickBatch(['dynclicks_u10_42596', 'dynclicks_u10_42590', 'dynclicks_u10_42581', 'dynclicks_u10_42577', 'dynclicks_u10_42568', 'dynclicks_u10_42565', 'dynclicks_u10_42564', 'dynclicks_u10_42561', 'dynclicks_u10_42587', 'dynclicks_u10_42591', 'dynclicks_u10_42558', 'dynclicks_u10_42569', 'dynclicks_u10_37088', 'dynclicks_u10_37085', 'dynclicks_u10_37070'], [42596, 42590, 42581, 42577, 42568, 42565, 42564, 42561, 42587, 42591, 42558, 42569, 37088, 37085, 37070], "wbnews", 1445304395)</script>
        </div>
    </div>
</div>
